#spots{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.3rem;
    /* max-width: 3920px; */
}

.spot{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom:1.3rem;
    background-color: rgb(255, 255, 255);
}

.image_div{
    display: flex;
    justify-content: center;
    width:100%;
    position: relative;
    display: inline-block;
}

.image_div .image_tooltip{
    visibility: hidden;
    z-index:1;
    opacity:0;
    position: absolute;
}

.image_div:hover .image_tooltip{
    visibility: visible;
    opacity: 1;
}

.image{
    max-height: 400px;
    width:100%;
    aspect-ratio: 1;
}

.spot_info{
    display:flex;
    justify-content: space-between;
}

.rating{
    display:flex
}

a{
    color:inherit;
    text-decoration: none;
}
@media (max-width:1735px){
    #spots{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1313px){
    #spots{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:905px){
    #spots{
        grid-template-columns: repeat(1,1fr);
    }
}

