#nav{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-width:1000px;
    width:100%
}

#header{
    border-bottom:solid 1px rgb(65, 213, 39);
    margin-bottom:2rem;
    position:sticky;
    top:0;
    z-index: 1000;
    /* background-color: rgb(224, 254, 205); */
    display: flex;
    justify-content: center;
}

#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name_location{
    display:flex;
    flex-direction: column;
    max-width:1000px;
    width:100%
}
#name{
    margin:0
}
#location{
    font-weight: normal;
}
#spot_images{
    max-width:1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:.2rem
}
#preview_image{
    max-width:500px
}
#preview_image > img{
    width: 100%;
    aspect-ratio: 1.4;
}
#other_images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:.2rem
}
#other_images > img{
    width:100%;
    aspect-ratio: 1.4;
}