body{
    margin:0;
    background-color: rgba(98, 255, 0, 0.2);
    font-family:Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
header{
    border-bottom:solid 1px rgb(65, 213, 39);
    position:sticky;
    top:0;
    z-index: 1000;
    background-color: rgb(231, 255, 217);
}

main{
    display: flex;
    justify-content: center;
    padding-top:1.3rem
}

ul{
    list-style-type:none;
    padding:0;
    margin:0
}

#navigation{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    margin:0 3rem;
}
#logo_div{
    display:flex;
    justify-content: left;
    
}

#button_div{
    display:flex;
    justify-content: right;
    align-items: center;
    
}
.userInfo{
    position: absolute;
    background-color: rgb(202, 253, 180);
    border-radius: 2px;
    outline: solid black;
    right:3.2rem;
    top:6.1rem;
    padding:5px;
    width:150px
}
#profile_button{
    cursor: pointer;
    aspect-ratio: 1;
    border: solid 1px #5eaf5e;
    border-radius: 30px;
    background-color: rgba(126, 224, 141, 0.629);
    height: 3.0rem;
    width:5.5rem
}
.hidden{
    display:none; 
}
#menu{
    margin-right:1rem
}


#logo{
    width: 7rem;
    margin:1rem 0
}

main{
    margin:0 5rem
}


@media (max-width:520px){
    .userInfo{
        position: absolute;
        background-color: grey;
        border-radius: 2px;
        outline: solid black;
        right:1%;
        top:6.8rem
    }
}
@media (max-width:510px){
    #logo{
        width:5rem
    }
    #profile_button{
        width:5rem;
        height:3rem
    }
    svg{
        width:1rem
    }
}